local DrRayLibrary = loadstring(game:HttpGet("https://raw.githubusercontent.com/AZYsGithub/DrRay-UI-Library/main/DrRay.lua"))()
local window = DrRayLibrary:Load("FJK hub NEXTGEN", "Default")

local tab = DrRayLibrary.newTab("Combat", "15692398102")

tab.newButton("Autoparry", "combat", function()    loadstring(game:HttpGet("https://raw.githubusercontent.com/Hosvile/Refinement/main/MC%3ABlade%20Ball%20Parry",true))()
end)

tab.newButton("Autoclash", "combat", function()    loadstring(game:HttpGet("https://pastebin.com/raw/t2391h1A"))()
end)

local tab = DrRayLibrary.newTab("Misc", " ImageIdHere") 

tab.newButton("Players Esp", "in progress", 
function()
loadstring(game:HttpGet("https://pastebin.com/raw/nrnX4fQC"))()
end)

tab.newButton("Fps booster", "gameplay", 
function() _G.Settings = {
    Players = {
        ["Ignore Me"] = true, -- Ignore your Character
        ["Ignore Others"] = true-- Ignore other Characters
    },
    Meshes = {
        Destroy = false, -- Destroy Meshes
        LowDetail = true -- Low detail meshes (NOT SURE IT DOES ANYTHING)
    },
    Images = {
        Invisible = true, -- Invisible Images
        LowDetail = false, -- Low detail images (NOT SURE IT DOES ANYTHING)
        Destroy = false, -- Destroy Images
    },
    ["No Particles"] = true, -- Disables all ParticleEmitter, Trail, Smoke, Fire and Sparkles
    ["No Camera Effects"] = true, -- Disables all PostEffect's (Camera/Lighting Effects)
    ["No Explosions"] = true, -- Makes Explosion's invisible
    ["No Clothes"] = true, -- Removes Clothing from the game
    ["Low Water Graphics"] = true, -- Removes Water Quality
    ["No Shadows"] = true, -- Remove Shadows
    ["Low Rendering"] = true, -- Lower Rendering
    ["Low Quality Parts"] = true -- Lower quality parts
}

loadstring(game:HttpGet("https://raw.githubusercontent.com/CasperFlyModz/discord.gg-rips/main/FPSBooster.lua"))()
end)

tab.newButton("Pshade", "effects", 
function()
getgenv().RTX_Name = "rtxnamehere" --not really needed if you don't need it
 
--[[
examples auto loads features :
 
 
getgenv().RTX_Name = "Midday lite" 
 
-Morning
-Afternoon
-Midday
-Evening
-Night
-Midnight
 
-Morning lite
-Midday lite
-Afternoon lite
-Evening lite
-Night lite
-Midnight lite
 
]]
 
loadstring(game:HttpGet(('https://pastefy.app/xXkUxA0P/raw'),true))()
end)

local tab = DrRayLibrary.newTab("Showcasers", " ImageIdHere") 

tab.newButton("Inarkici", "Subscribe", function()    
setclipboard("https://youtu.be/3LPYHEJyfQY?si=CtyX0YEM3csgaAMk")
end)

tab.newButton("JelixCeus", "Subscribe", function()    setclipboard("https://youtu.be/s4K5mO-Edsc?si=k8dKhhIQ5TsNpwgP") 
end)

tab.newButton("GatauSiapa1885", "Subscribe", function()    setclipboard("https://youtu.be/7Lv8P-H1SJk?si=r-lhl9b6uggQdUWN") 
end)
